---
import Layout from "@/layouts/Layout.astro";
import { SITE_TITLE } from "@/const";
---

<Layout title={`О компании | ${SITE_TITLE}`} image="/img/banners/new_0.jpg">
	<h1>О компании</h1>
	<p>
		История группы компаний «Самарские автомобили» началась в 1993 году с
		небольшой сервисной станции в поселке Зубчаниновка.
	</p>
	<p>
		Первый центр по продажам и техническому обслуживанию автомобилей был
		открыт в 1996 году на Московском шоссе. В 2008 был построен комплекс
		автоцентров на Южном шоссе и автоцентр INFINITI на Московском шоссе
		рядом с Ипподромом. В 2014 году были открыты салоны премиум-класса
		Jaguar и Land Rover.
	</p>
	<p>
		Все автосалоны предоставляют полный спектр услуг по продаже и
		обслуживанию автомобилей в соответствии со стандартами своих
		производителей. Посетителям всех центров доступен весь модельный ряд
		автомобилей Москвич, Nissan, INFINITI, Jaguar Land Rover. При этом
		автомобили можно оценить самостоятельно в рамках тест-драйва. Автоцентры
		предоставляют возможность воспользоваться услугами, сопутствующими
		приобретению автомобиля, в числе которых автострахование,
		автокредитование, лизинг, а также trade-in.
	</p>
	<p>
		Все дилерские центры оснащены современным оборудованием ведущих мировых
		производителей. Данное оборудование позволяет выполнять работы с
		использованием современных технологий на уровне мировых стандартов. В числе
		последних: регламентное ТО, диагностика двигателей, автоматических
		трансмиссий, многочисленных систем безопасности, сложные ремонтные работы,
		покрасочные и кузовные работы и многое другое.
	</p>
	<p>
		Сотрудники компании&nbsp;— высококлассные, дипломированные специалисты,
		прошедшие профессиональную подготовку в учебных центрах в Москве. Основная
		задача коллектива&nbsp;— максимально удовлетворять пожелания и требования
		клиентов на уровне общепризнанных мировых стандартов. В автоцентрах группы
		компаний «Самарские автомобили» всегда рады встрече с Вами!
	</p>
</Layout>
