---
import { CARS_MENU } from '@/const';
---
{
	CARS_MENU && (
	<section class="cars">
		<div class="flex flex-wrap gap-4 justify-center xl:justify-around py-6 md:py-10">
			{
				CARS_MENU.map(link => (
				<a href={link.url} class="max-w-[100px] md:max-w-[160px] transition duration-500 hover:scale-110" {...link?.target ? {target: link.target} : {} }>
					<img src={link.logo} alt={`Логотип ${link.title}`}>
				</a>
				))
			}
		</div>
	</section>
	)
}