			<section class="banner relative" id="banner">
				<div class="banner-wrapper h-full">
					<div class="banner-sliders h-full">
						<div class="banner-slider swiper h-full">
							<div class="swiper-wrapper h-full">

								<a href="#" class="banner-slide swiper-slide" @click.prevent="$refs.modalTitle.innerText='Оставить заявку'; $refs.brand.value = 'landrover'; $store.state.isModalOpen = true;">
									<img data-src="/img/banners/lr-Defender-2022-06-01_14-44-29.jpg" class="h-full w-full object-cover object-center hidden md:block swiper-lazy" />
									<img data-src="/img/banners/lr-Defender-2022-06-01_14-44-29.jpg" class="h-full w-full object-cover object-center block md:hidden swiper-lazy" />
									<div class="swiper-lazy-preloader"></div>
								</a>
								<a href="#" class="banner-slide swiper-slide" @click.prevent="$refs.modalTitle.innerText='Оставить заявку'; $refs.brand.value = 'landrover'; $store.state.isModalOpen = true;">
									<img data-src="/img/banners/lr-Discovery-2022-06-01_14-48-31.jpg" class="h-full w-full object-cover object-center hidden md:block swiper-lazy" />
									<img data-src="/img/banners/lr-Discovery-2022-06-01_14-48-31.jpg" class="h-full w-full object-cover object-center block md:hidden swiper-lazy" />
									<div class="swiper-lazy-preloader"></div>
								</a>
								<a href="#" class="banner-slide swiper-slide" @click.prevent="$refs.modalTitle.innerText='Оставить заявку'; $refs.brand.value = 'landrover'; $store.state.isModalOpen = true;">
									<img data-src="/img/banners/lr-1000x300-Range-Rover.jpg" class="h-full w-full object-cover object-center hidden md:block swiper-lazy" />
									<img data-src="/img/banners/lr-1000x300-Range-Rover.jpg" class="h-full w-full object-cover object-center block md:hidden swiper-lazy" />
									<div class="swiper-lazy-preloader"></div>
								</a>
								<a href="#" class="banner-slide swiper-slide" @click.prevent="$refs.modalTitle.innerText='Оставить заявку'; $refs.brand.value = 'infiniti'; $store.state.isModalOpen = true;">
									<img data-src="/img/banners/i-QX50.jpg" class="h-full w-full object-cover object-center hidden md:block swiper-lazy" />
									<img data-src="/img/banners/i-QX50.jpg" class="h-full w-full object-cover object-center block md:hidden swiper-lazy" />
									<div class="swiper-lazy-preloader"></div>
								</a>
								<a href="#" class="banner-slide swiper-slide" @click.prevent="$refs.modalTitle.innerText='Оставить заявку'; $refs.brand.value = 'infiniti'; $store.state.isModalOpen = true;">
									<img data-src="/img/banners/i-QX55.jpg" class="h-full w-full object-cover object-center hidden md:block swiper-lazy" />
									<img data-src="/img/banners/i-QX55.jpg" class="h-full w-full object-cover object-center block md:hidden swiper-lazy" />
									<div class="swiper-lazy-preloader"></div>
								</a>
								<a href="#" class="banner-slide swiper-slide" @click.prevent="$refs.modalTitle.innerText='Оставить заявку'; $refs.brand.value = 'infiniti'; $store.state.isModalOpen = true;">
									<img data-src="/img/banners/i-QX80.jpg" class="h-full w-full object-cover object-center hidden md:block swiper-lazy" />
									<img data-src="/img/banners/i-QX80.jpg" class="h-full w-full object-cover object-center block md:hidden swiper-lazy" />
									<div class="swiper-lazy-preloader"></div>
								</a>
								<a href="#" class="banner-slide swiper-slide" @click.prevent="$refs.modalTitle.innerText='Оставить заявку'; $refs.brand.value = 'nissan'; $store.state.isModalOpen = true;">
									<img data-src="/img/banners/n-Murrano-1024х550.jpg" class="h-full w-full object-cover object-center hidden md:block swiper-lazy" />
									<img data-src="/img/banners/n-Murrano-620x480.jpg" class="h-full w-full object-cover object-center block md:hidden swiper-lazy" />
									<div class="swiper-lazy-preloader"></div>
								</a>
								<a href="#" class="banner-slide swiper-slide" @click.prevent="$refs.modalTitle.innerText='Оставить заявку'; $refs.brand.value = 'nissan'; $store.state.isModalOpen = true;">
									<img data-src="/img/banners/n-Qashqai-1024х550.jpg" class="h-full w-full object-cover object-center hidden md:block swiper-lazy" />
									<img data-src="/img/banners/n-Qashqai-620x480.jpg" class="h-full w-full object-cover object-center block md:hidden swiper-lazy" />
									<div class="swiper-lazy-preloader"></div>
								</a>
								<a href="#" class="banner-slide swiper-slide" @click.prevent="$refs.modalTitle.innerText='Оставить заявку'; $refs.brand.value = 'nissan'; $store.state.isModalOpen = true;">
									<img data-src="/img/banners/n-Terrano-1024х550.jpg" class="h-full w-full object-cover object-center hidden md:block swiper-lazy" />
									<img data-src="/img/banners/n-Terrano-620x480.jpg" class="h-full w-full object-cover object-center block md:hidden swiper-lazy" />
									<div class="swiper-lazy-preloader"></div>
								</a>
								<a href="#" class="banner-slide swiper-slide" @click.prevent="$refs.modalTitle.innerText='Оставить заявку'; $refs.brand.value = 'nissan'; $store.state.isModalOpen = true;">
									<img data-src="/img/banners/n-X-Trail-1024х550.jpg" class="h-full w-full object-cover object-center hidden md:block swiper-lazy" />
									<img data-src="/img/banners/n-X-Trail-620x480.jpg" class="h-full w-full object-cover object-center block md:hidden swiper-lazy" />
									<div class="swiper-lazy-preloader"></div>
								</a>

							</div>
						</div>

						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev z-20"></div>
						<div class="swiper-button-next z-20"></div>
					</div>
				</div>
			</section>