---
import Layout from "@/layouts/Layout.astro";
import { SITE_TITLE } from "@/const";
---

<Layout
	title={`Автомобили Jaguar в Самаре | ${SITE_TITLE}`}
	image="/img/banners/2023_10_30-new_0.webp"
>
	<h1>Официальный дилерский центр Jaguar</h1>
	<p>
		<b>Адрес:</b> 443085, г. Самара, Южное шоссе, 12А, строение 1 <br />
		<b>Телефон:&nbsp;</b><a href="tel:+78462073377">+7 (846) 207-33-77</a
		><br />
		<b>e-mail:</b> <a href="mailto:sales@jlrsamara.ru"
			><font color="blue">sales@jlrsamara.ru</font></a
		><br />
		<b>Сайт:</b> <a href="http://www.jaguarsamara.ru/" target="_blank"
			><font color="blue">www.jaguarsamara.ru</font></a
		><br />
		<b>Часы работы:</b><br />
		 Пн-Пт с 8:30 до 20:00, Сб-Вс с 8:30 до 18:00, Вс - сервис - выходной
	</p>

	<h3>Схема проезда:</h3>
	<div class="mb-5">
		<script
			type="text/javascript"
			charset="utf-8"
			async
			src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abcc417e84cb6ccd3b8916ddef366adc653407c58afa4aaf101f736f18d02d542&width=100%25&height=400&lang=ru_RU&scroll=true"
		></script>
	</div>

	<h3>Автомобили Jaguar в Самаре</h3>
	<p>
		Компания Самарские автомобили — новый официальный дилер Jaguar,
		расположенный по адресу: ул. Авроры 150 Е. Это один из самых молодых,
		современных и престижных дилерских центров марки в России,
		соответствующий передовым стандартам обслуживания клиентов как
		автосалона, так и сервисного центра.
	</p>
	<p>
		Отличительной особенностью дилерского центра является предоставление
		премиального уровня сервиса для всех настоящих и будущих владельцев
		автомобилей марки Jaguar.
	</p>
	<p>
		Загляните в Самарские автомобили, и всё, от первой приветливой улыбки
		сотрудника ресепшн до торжественного момента выдачи нового автомобиля,
		не оставит Вас равнодушным!
	</p>
</Layout>
