	<div
	class="overflow-y-auto"
	style="background-color: rgba(0,0,0,0.8)"
	x-show="$store.state.isModalOpen"
	:class="{ 'fixed inset-0 z-50 flex items-start justify-center': $store.state.isModalOpen }"
	>
	<!-- dialog -->
	<div
		class="max-w-[450px] w-full bg-white shadow-2xl m-4 my-12 sm:m-8 px-5 p-4 sm:py-8 relative z-50"
		x-show="$store.state.isModalOpen"
		@click.away="$store.state.isModalOpen = false"
	>
		<button class="absolute top-1 right-1 text-xl p-1 px-3" @click="$store.state.isModalOpen = false;">&times;</button>
		<h3 class="text-center mb-5" x-ref="modalTitle"></h3>

		<form>
			<input type="text" tabindex="-1" placeholder="Ваше имя" name="name">
			<input type="email" tabindex="-1" name="Email" placeholder="mail@example.com">
			<input type="tel" placeholder="8 999 999-99-99" name="phone" class="w-full mb-5 px-2 py-3 border border-gray-400 focus:border-gray-600 focus:outline-none" required placeholder="Ваш телефон *">
			<input type="text" tabindex="-1" name="brand" x-ref="brand">

			<button type="submit" class="w-full bg-cyan text-white text-base px-2 py-3 border border-cyan mb-5">Отправить</button>
			<small class="block text-xs text-center text-gray-800">Нажимая на кнопку действия, я соглашаюсь на <br><a href="./agreement/" target="_blank" class="text-cyan underline transition hover:no-underline">обработку персональных данных</a></small>
		</form>

	</div>
	<!-- /dialog -->
	</div>