	<div
		class="overflow-y-auto"
		id="response_modal"
		style="background-color: rgba(0,0,0,0.8)"
		x-show="$store.state.isResponseModalOpen"
		:class="{ 'fixed inset-0 z-50 flex items-start justify-center': $store.state.isResponseModalOpen }"
	>
	<!-- dialog -->
		<div
			class="max-w-[450px] w-full bg-white shadow-2xl m-4 my-12 sm:m-8 px-5 p-4 sm:py-8 relative z-50"
			x-show="$store.state.isResponseModalOpen"
			@click.away="$store.state.isResponseModalOpen = false"
		>
			<button class="absolute top-1 right-1 text-xl p-1 px-3" @click="$store.state.isResponseModalOpen = false;">&times;</button>
			<h3 class="text-center mb-5"></h3>

			<div class="content text-center">
				<p></p>
			</div>
			
		</div>
		<!-- /dialog -->
	</div>