---
import Layout from "@/layouts/Layout.astro";
import { SITE_TITLE } from "@/const";
---

<Layout title={`Авто Уход | ${SITE_TITLE}`} image="/img/banners/2023_10_30-new_0.webp">
	<h1>Авто Уход</h1>

	<img
		src="/img/pages/carcare/1.jpg"
		alt="ALT"
		class="max-w-full mx-auto mb-6"
	/>

	<h3>Профессиональный уход за Вашим автомобилем:</h3>
	<ul>
		<li>Высококлассное оборудование</li>
		<li>Квалифицированный персонал</li>
		<li>Оригинальные средства по чистке автомобилей</li>
		<li>Индивидуальный подход к каждому клиенту</li>
		<li>Комплексная мойка / химчистка по 23 пунктам</li>
		<li>Бесплатный WI FI</li>
		<li>
			Пока автомобиль находится на мойке Вы можете воспользоваться
			персональным тест-драйвом на автомобилях Jaguar или Land Rover
		</li>
	</ul>

	<p>
		<b
			>Подробнее&nbsp;<a
				href="tel:+78462073377"
				class="text-cyan underline transition hover:no-underline whitespace-nowrap"
				>+7 (846) 207 33 77</a
			></b>
	</p>

	<div
		class="flex flex-wrap items-stretch mb-5 gap-0 sm:gap-3 xl:gap-4 2xl:gap-5"
	>
		<div
			class="flex flex-col items-center text-center mb-3 sm:mb-0 w-full sm:w-[49%]"
		>
			<img
				src="/img/pages/carcare/001.jpg"
				alt="ALT"
				class="mb-2 flex-grow"
			/>
			<b>Чистка солнцезащитных козырьков</b>
		</div>
		<div
			class="flex flex-col items-center text-center mb-3 sm:mb-0 w-full sm:w-[49%]"
		>
			<img
				src="/img/pages/carcare/002.jpg"
				alt="ALT"
				class="mb-2 flex-grow"
			/>
			<b>Чистка обивки сидений</b>
		</div>
		<div
			class="flex flex-col items-center text-center mb-3 sm:mb-0 w-full sm:w-[49%]"
		>
			<img
				src="/img/pages/carcare/003.jpg"
				alt="ALT"
				class="mb-2 flex-grow"
			/>
			<b>Чистка ковровых покрытий</b>
		</div>
		<div
			class="flex flex-col items-center text-center mb-3 sm:mb-0 w-full sm:w-[49%]"
		>
			<img
				src="/img/pages/carcare/004.jpg"
				alt="ALT"
				class="mb-2 flex-grow"
			/>
			<b>Чистка воздуховодов</b>
		</div>
		<div
			class="flex flex-col items-center text-center mb-3 sm:mb-0 w-full sm:w-[49%]"
		>
			<img
				src="/img/pages/carcare/005.jpg"
				alt="ALT"
				class="mb-2 flex-grow"
			/>
			<b>Мойка колесных дисков, арок. Доведение до блеска.</b>
		</div>
		<div
			class="flex flex-col items-center text-center mb-3 sm:mb-0 w-full sm:w-[49%]"
		>
			<img
				src="/img/pages/carcare/006.jpg"
				alt="ALT"
				class="mb-2 flex-grow"
			/>
			<b>Детальная чистка панели приборов и консоли</b>
		</div>
		<div
			class="flex flex-col items-center text-center mb-3 sm:mb-0 w-full sm:w-[49%]"
		>
			<img
				src="/img/pages/carcare/007.jpg"
				alt="ALT"
				class="mb-2 flex-grow"
			/>
			<b>Детальная чистка панели приборов и консоли</b>
		</div>
		<div
			class="flex flex-col items-center text-center mb-3 sm:mb-0 w-full sm:w-[49%]"
		>
			<img
				src="/img/pages/carcare/008.jpg"
				alt="ALT"
				class="mb-2 flex-grow"
			/>
			<b>Устранение битумных загрязнений с кузова автомобиля</b>
		</div>
		<div
			class="flex flex-col items-center text-center mb-3 sm:mb-0 w-full sm:w-[49%]"
		>
			<img
				src="/img/pages/carcare/009.jpg"
				alt="ALT"
				class="mb-2 flex-grow"
			/>
			<b>Бережная мойка моторного отсека</b>
		</div>
	</div>
</Layout>
