@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Custom Classes
.flex-center{
	@apply flex items-center justify-center;
}

.flex-x-center{
	@apply flex justify-center;
}

.flex-y-center{
	@apply flex items-center;
}

.col{
	@apply flex-grow flex-shrink-0;
	flex-basis: 0%;
}

// Swiper Slider
.swiper-pagination-bullet{
	@apply sm:w-3 sm:h-3 bg-white opacity-100;
}

.swiper-pagination-bullet-active{
	@apply bg-cyan;
}

.swiper-button-next, .swiper-button-prev{
	@apply w-8 h-8 sm:w-16 sm:h-16 bg-black bg-opacity-40 text-white duration-300 hover:bg-opacity-50;
	&:after{
		@apply text-base sm:text-xl font-bold;
	}
}

.swiper-button-prev{
	@apply left-0;
}

.swiper-button-next{
	@apply right-0;
}

.swiper-lazy-preloader{
	@apply border-cyan border-t-transparent;
}

h2{
	@apply font-bold text-3xl mb-6 text-gray-800
}

h3{
	@apply font-bold text-xl mb-2 text-gray-800
}

p{
	@apply mb-5 text-gray-800
}

ul, ol{
	@apply pl-4 mb-5
}

ul li{
	@apply ml-4 list-disc mb-1
}

ol li{
	@apply ml-4 list-decimal mb-1
}

a{
	color: blue;
}

aside a{
	@apply text-gray-800;
}

footer a{
	@apply text-white text-opacity-80;
}