---
import './banner.scss';
import BannerItem from './Item.astro'
import banners from '@/data/banners.json';
const filteredBanners = banners.filter(banner => banner.show);
---
{
	filteredBanners && (
	<section class="banner relative">
		<div class="banner-wrapper relative min-h-[100px] sm:min-h-[185px] md:min-h-[300px]">
			<div class="relative end-0">
				<div class="swiper banner-slider h-full text-white">
					<div class="swiper-wrapper flex items-end">
						<a href="https://moskvich-samauto.ru/" class="swiper-slide banner-slide" data-swiper-autoplay="7000" target="_blank">
							<img src="/img/banners/moskvich-3-po-gosprogramme.webp" class="absolute inset-0 h-full w-full object-cover object-center" alt="Москвич 3 по Госпрограмме" loading="lazy">
						</a>
						<a href="https://oting-samauto.ru/" class="swiper-slide banner-slide relative h-full" target="_blank" data-swiper-autoplay="16000">
							<video autoplay muted playsinline loop poster="/img/banners/2024-03-06-oting-paladin.webp" class="aspect-square sm:aspect-video md:aspect-[21/9] h-full w-full object-cover">
								<source src="https://alexsab.ru/video/oting-samarskieavtomobili.mp4" type="video/mp4" />
							</video>
						</a>
						<div class="swiper-slide banner-slide relative h-full" data-swiper-autoplay="14000">
							<video autoplay muted playsinline loop poster="/img/banners/2024_01_28-moskvich-6-new-16-01-2024.webp" class="aspect-square sm:aspect-video md:aspect-[21/9] h-full w-full object-cover">
								<source src="https://alexsab.ru/video/moskvich-6.mp4" type="video/mp4" />
							</video>
							<div class="absolute inset-0 md:pl-[5vw] flex flex-col justify-end items-center md:items-start h-full py-16 lg:py-20 z-50">
								<a
									href="https://moskvich-samauto.ru/models/moskvich-6/"
									target="_blank"
									class="bg-[#ec1b24] transition-opacity hover:opacity-90 text-white lg:text-lg p-1 sm:px-3 sm:py-2 md:py-3 md:px-10 ml-2 md:ml-3 outline-none inline-block w-fit"
								>
									Москвич 6 по выгодной цене
								</a>
							</div>
						</div>
						<div class="swiper-slide banner-slide relative h-full" data-swiper-autoplay="14000">
							<video autoplay muted playsinline loop poster="/img/banners/2024-03-12-М3-для-СА2.webp" class="aspect-square sm:aspect-video md:aspect-[21/9] h-full w-full object-cover">
								<source src="https://alexsab.ru/video/moskvich-3.mp4" type="video/mp4" />
							</video>
							<div class="absolute inset-0 md:pl-[5vw] flex flex-col justify-end items-center md:items-start h-full py-16 lg:py-20 z-50">
								<a
									href="https://moskvich-samauto.ru/models/moskvich-3/"
									target="_blank"
									class="bg-[#d6001c] transition-opacity hover:opacity-90 text-white lg:text-lg p-1 sm:px-3 sm:py-2 md:py-3 md:px-10 ml-2 md:ml-3 outline-none inline-block w-fit"
								>
									Москвич 3 по выгодной цене
								</a>
							</div>
						</div>
						{
							filteredBanners.map(banner => (
								<BannerItem banner={banner} />
							))
						}
					</div>
				</div>

				<div class="swiper-pagination banner-pagination"></div>

				<div class="autoplay-progress">
					<svg viewBox="0 0 48 48">
						<circle cx="24" cy="24" r="20"></circle>
					</svg>
					<span></span>
				</div>

				<div class="swiper-button-prev banner-button-prev !hidden md:!flex"></div>
				<div class="swiper-button-next banner-button-next !hidden md:!flex"></div>
			</div>
		</div>
	</section>
	)
}

<script>
	import './banner'
</script>