---
import './banner.scss';
import BannerItem from './Item.astro'
import banners from '@/data/banners.json';
const filteredBanners = banners.filter(banner => banner.show);
---
{
	filteredBanners && (
	<section class="banner relative">
		<div class="banner-wrapper relative min-h-[100px] sm:min-h-[185px] md:min-h-[300px]">
			<div class="relative end-0">
				<div class="swiper banner-slider h-full text-white">
					<div class="swiper-wrapper flex items-end">
						<a href="https://oting-samauto.ru/" class="swiper-slide banner-slide relative h-full" target="_blank" data-swiper-autoplay="16000">
							<video autoplay muted playsinline loop poster="/img/banners/2024-03-06-oting-paladin.webp" class="aspect-square sm:aspect-video md:aspect-[21/9] h-full w-full object-cover"> 
								<source src="https://alexsab.ru/video/oting-samarskieavtomobili.mp4" type="video/mp4" /> 
							</video>
						</a>
						<a href="https://moskvich-samauto.ru/models/moskvich-6/" class="swiper-slide banner-slide relative h-full" target="_blank" data-swiper-autoplay="14000">
							<video autoplay muted playsinline loop poster="/img/banners/2024_01_28-moskvich-6-new-16-01-2024.webp" class="aspect-square sm:aspect-video md:aspect-[21/9] h-full w-full object-cover">
								<source src="https://alexsab.ru/video/moskvich-6.mp4" type="video/mp4" />
							</video>
						</a>
						{
							filteredBanners.map(banner => (
								<BannerItem banner={banner} />
							))
						}
					</div>
				</div>

				<div class="swiper-pagination banner-pagination"></div>

				<div class="autoplay-progress">
					<svg viewBox="0 0 48 48">
						<circle cx="24" cy="24" r="20"></circle>
					</svg>
					<span></span>
				</div>

				<div class="swiper-button-prev banner-button-prev !hidden md:!flex"></div>
				<div class="swiper-button-next banner-button-next !hidden md:!flex"></div>
			</div>
		</div>
	</section>
	)
}

<script>
	import './banner'
</script>